{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 m-auto text-left">
    <h3>Produtos</h3>
</div>

<div class="col-12 m-auto pt-2">
    <form name="form" id="form" action="" method='post'>
        {% csrf_token %}
        <div class="form-row">
            <div class="alert alert-warning mt-5">
                Você deseja mesmo excluir {{ object }}?
            </div>
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-success">Sim</button>
            <a href="{% url 'cadastros:produto_list' %}" class="btn btn-danger ml-3">Não</a>
        </div>
    </form>
</div>    

{% endblock %}
