{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-12 m-auto text-left">
  <h3>Doação de Alimentos</h3>
</div>

<div class="col-12 m-auto pt-4">
    <form name="form" id="form" action="" method='post'>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-secondary">Salvar</button>
        <a href="{% url 'doacao:list' %}" target="_self"
          class="btn btn-secondary ml-3" role="button">Cancelar</a>
    </form>
</div>    

{% endblock %}
