{% extends 'base.html' %}

{% block title %}Semana da Partilha{% endblock %}

{% block content %}
    <div class="row text-center" style="color: silver">
      <div class="col-12 mt-5">
        <i class="fas fa-ban fa-10x"></i>
      </div>
      <div class="col-12 text-center mt-3 mb-3">
        <p class="text-justify lead">
            <h4>Página não encontrada!</h4>
        </p>
      </div>
      <div class="col-12 text-center mt-3 mb-3">
        <a href="/" class="btn btn-primary btn-lg">
          voltar para home
        </a>
    </div>
    </div>
{% endblock %}
