{% extends 'base.html' %}

{% block content %}
    <div class="row">
      <div class="col-12 align-self-center mt-5">
        <h1 class="display-3">Bem-vindo!</h1>
      </div>
      <div class="col-12 align-self-center mt-3 mb-3">
        <p class="text-justify lead">
            <h4>Caridade, principal caminho da vida do cristão.</h4>
        </p>
      </div>
      <div class="col-12 align-self-center">
        <p class="text-justify">
            Convidamos você a participar conosco do programa de doação de alimentos
            que tem como objetivo ajudar nossos irmãos que estão passando por algum
            momento de dificuldade.
        </p>
        <a href="{% url 'doacao:list' %}" class="btn btn-secondary btn-lg" style="width: 290px" target="_self">
            Quero fazer uma doação!
        </a>
        <div class="col-12 align-self-center pl-0 mt-2">
            <a href="{% url 'account_signup' %}" target="_self" style="color: black">ou clique aqui se ainda não é cadastrado</a>
        </div>
      </div>
    </div>
{% endblock %}
