<div class="text-center mb-3 paginacao">
    {% if page.has_previous %}
    <a href="?page={{ page.previous_page_number }}" aria-label="Página anterior"
        role="button" target="_self"><em class="fas fa-caret-square-left"></em></a>
    {% else %}
    <em class="fas fa-caret-square-left text-secondary"></em>
    {% endif %}
    Página {{ page.number }}/{{ page.paginator.num_pages }}
    {% if page.has_next %}
    <a href="?page={{ page.next_page_number }}" aria-label="Próxima página" 
        role="button" target="_self"><em class="fas fa-caret-square-right"></em></a>
    {% else %}
    <em class="fas fa-caret-square-right text-secondary"></em>
    {% endif %}
</div>
