{% extends 'base.html' %}

{% block content %}

<h2>Dados Gerais</h2>

<div style="line-height: 1em; margin-top: 40px;">

<p>Total de familias cadastradas: {{tot_familias}}</p>
<br>
<p>Total de Familias que responderam ao questionario: {{tot_quest_familias}}</p>
<p>Total de membros familiares: {{tot_membros}}</p>
<hr>
<br>

<p>Familias que consideram seu bairro perigoso: {{perigoso}}%</p>
<p>Média de crianças menores por Família: {{kids}}%</p>
<p>Membros familiares com trabalho informal: {{trab_informal}}% </p>
<br>
<p>Grau de escolaridade dos membros adultos das familias:</p>
<ul style="margin-left: -10px;">
<p>Fundamental Incompleto: {{fun_in}}%</p>
<p>Fundamental Completo: {{fun_cp}}%</p>
<p>Médio Incompleto: {{med_in}}%</p>
<p>Médio Completo: {{med_cp}}%</p>
<p>Superior Incompleto: {{sup_in}}%</p>
<p>Superior Completo : {{sup_cp}}%</p>
</ul>
<br>

<p>Familias que recebem auxilio do Governo: {{gov_auxilio}}%</p>

<br>
<p style="font-size: 0.9em; color:gray; margin-top:20px;">Observação: é usado como base o total de Famílias e não apenas as que responderam ao questionario</p>

</div>
{% endblock %}
