{% extends 'base.html' %}

{% block content %}

<div class="col-12 m-auto pt-4">

  <div class="row">
    <div class="col-sm-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title text-primary">Cestas Completas</h5>
          <div class="row">
            <div class="col-4">
              <h2><span class="badge badge-primary">{{ cestasCompletas }}</span></h2>
            </div>
            <div class="col-8 text-right">
              <a href="{% url 'dashboard:fcesta' %}" class="btn btn-primary">Fechar as Cestas</a>
            </div>
          </div>          
        </div>
        <div class="card-footer text-primary">Baseado nas doações recebidas</div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card bg-light mb-3">
        <div class="card-body">
          <h5 class="card-title text-info">Cestas Agendadas</h5>
          <h2><span class="badge badge-info">{{ cestasAgendadas }}</span></h2>
        </div>
        <div class="card-footer text-info">Baseado nas doações agendadas</div>
      </div>
    </div>
  </div>
    
  <table class="table table-sm">
      <thead class="thead-light">
          <tr>
              <th scope="col">Descrição</th>
              <th scope="col" style="width: 35px">Age</th>
              <th scope="col" style="width: 35px">Rec</th>
              <th scope="col" class="text-center" style="width: 60px">Meta</th>
              <th scope="col" style="width: 60px"></th>
          </tr>
      </thead>
      <tbody>
          {% for dbs in db %}
              <tr>
                  <td class="align-middle">{{ dbs.descricao }}</td>
                  <td class="align-middle text-right">{{ dbs.agendado }}</td>
                  <td class="align-middle text-right">{{ dbs.recebido }}</td>
                  <td class="align-middle">
                    <div class="progress">
                        {% if dbs.percentual < 100 %}
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ dbs.percentual }}%" 
                                    aria-valuenow="{{ dbs.percentual }}" aria-valuemin="0" aria-valuemax="100"></div>
                        {% else %}
                            <div class="progress-bar bg-info" role="progressbar" style="width: 100%" 
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        {% endif %}
                    </div>                    
                  </td>
                  <td class="align-middle">
                    {% if dbs.agendado != 0 %}
                      <a href="{% url 'doacao:produto_list' dbs.id %}"><i class="fas fa-user-clock text-info" title="Agendados"></i></a>
                    {% else %}
                      <i class="fas fa-user-clock" style="color: silver"></i>
                    {% endif %}
                    {% if dbs.recebido != 0 %}
                      <a href="{% url 'recebimento:produto_list' dbs.id %}"><i class="fas fa-truck text-primary ml-1" title="Recebidos"></i></a>
                    {% else %}
                      <i class="fas fa-truck ml-1" style="color: silver"></i>
                    {% endif %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>    

{% endblock %}
