{% extends 'base.html' %}

{% block content %}

<div class="col-12 p-0 text-left">
  <h3>Fechamento das Cestas</h3>
</div>

<div class="row">
  <div class="col-sm-6 mt-4 mb-5">
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title text-primary" 
          aria-label="{{ cestasCompletas }} cestas completas">Cestas Completas</h4>
        <div class="row">
          <div class="col-6">
            <div aria-hidden="true" style="font-size: 2rem"><span class="badge badge-primary">{{ cestasCompletas }}</span></div>
          </div>
        </div>          
      </div>
    </div>
  </div>

  <div class="col-12 align-self-center">
        <p style="font-size: 2rem" role="dialog">Confirma?</p>
  </div>

  <div class="col-12 align-self-center">
    <p class="mb-4">
      Será iniciado um novo ciclo de doações.<br>
      Deseja realmente prosseguir?
    </p>
    <form action="{% url 'dashboard:updcesta' %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary btn-sm">OK</button>
      <a href="{% url 'dashboard:view' %}" target="_self"
        class="btn btn-secondary btn-sm" style="width: 100px" role="button">
        Cancelar
      </a>
  </form>
  </div>
</div>

{% endblock %}
